*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid green; */
}


html {
    scroll-behavior: smooth;
  }

.mainBox{
    height: 100vh;
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: top;
    position: relative;
}

li{
    margin-right: 25px;
}


.title{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.title > h1 {
    font-size: 7em;
    font-weight: 500;
    
}

.fa-angle-down{
    color: white;
}


.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

}


@media only screen and (max-width: 600px) {
    
.title > h1 {
    font-size: 6em;
    font-weight: 500;
    
}
.arrow{
    margin-top: 50px;
}

  }

  @media only screen and (max-width: 950px) {
    
    .title > h1 {
        font-size: 6em;
        font-weight: 500;
        
    }
    .arrow{
        margin-top: 70px;
    }
    
    
      }

  .mini > a{
      color: rgba(0, 0, 0, 0.5);
      margin-right: 20px;
  }

  .container > h1{
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      color: purple;
      font-weight: 700;
  }

.me{
    background-image: url('../images/me.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    height: 700px;
    box-shadow: 5px 10px 8px #888888
}

.bio{
    padding: 30px;
    font-size: 1.2em;
}


.purp{
    color: purple;
}


.my-projects{
    margin-top: 50px;
    background-color: #9d6abf;
    height: 100%;
}

.my-projects > h1 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-bottom: 75px;
}

 .proj1{
    height: 300px;
}

.test-btn > a{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

.test-btn{
    padding-right: 20px;
}


/* Contact */

#contact {

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 1em;
	margin-bottom: 3%;


}

.fa-phone-square{

	font-size: 2em;
	color: green;
}


.fa-envelope{
	font-size: 2em;
	color: orange;
	margin-left: 1.2em;
}

#num{
	margin-right: 1.2em;
}

#contactBox{
	padding-bottom: 2em;

}

#btnTop{
	margin-top: 1.5em;
}

#cap{
	margin-top: 2%;
}



.purpCls {
	padding-left: 5px;
	margin: 1% auto;
	display: block;
    border: 1px solid purple;
    
}


textarea {
	margin-top: 1%;
	height: 150px;
    width: 500px;
    resize: none;

}

.material-icons{
    font-size:48px;
    color: pink;
}


@media only screen and (max-width: 600px) {
    textarea {
        width: auto;
    } 
      }